{% extends 'blog/base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
<a href="{% url 'post_create' %}" class="btn btn-primary mb-3">Create New Post</a>
<ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        {% if request.user == post.author %}
        <a href="{% url 'post_update' post.pk %}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-danger">Delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
